.AuthBtn {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.Btn {
  font-weight: 500;
  background: linear-gradient(to right, #ffa245, #88300f) !important;
  border: none;
}

.Btn:hover {
  background: linear-gradient(to right, #fff, #fff) !important;
  color: #ea5722 !important;
  box-shadow: none !important;
  text-shadow: #fff 0px 0px 5px;
  transition: 0.2s ease-in-out;
}

.Btn:active,
.Btn:focus {
  box-shadow: none !important;
}

.BackBtn {
  color: #ffebd8 !important;
}

.BackBtn:hover {
  color: #ff7b00 !important;
}

.BackBtn:active,
.BackBtn:focus {
  box-shadow: none !important;
}

.ChangeBtn {
  background-color: transparent !important;
  color: #ffebd8 !important;
}

.ChangeBtn:hover {
  color: #ff7b00 !important;
}

.CreateBtn {
  font-weight: 500;
  background: linear-gradient(to right, #00f3fb, #20d787) !important;
  border: none;
  color: #171717 !important;
  margin-left: 1rem;
}

.CreateBtn:hover {
  background: linear-gradient(to bottom, #49f9ff, #44ce92) !important;
  color: #232323 !important;
  box-shadow: none !important;
  text-shadow: #ffffffc1 0px 0px 5px;
  transition: 0.2s ease-in-out;
}

.CreateBtn:active,
.CreateBtn:focus {
  box-shadow: none !important;
}

.CancelBtn {
  font-weight: 500;
  background: linear-gradient(to right, #ffd56c, #ff4e4e) !important;
  border: none;
  color: #171717 !important;
  margin-right: 1rem;
}

.CancelBtn:hover {
  background: linear-gradient(to bottom, #ffde8a, #b23737) !important;
  color: #232323 !important;
  box-shadow: none !important;
  text-shadow: #ffffffc1 0px 0px 5px;
  transition: 0.2s ease-in-out;
}

.CancelBtn:active,
.CancelBtn:focus {
  box-shadow: none !important;
}

.CommentBtn {
  background-color: #ff7b00;
  color: #fff;
  border: none;
  font-weight: 500;
  border-radius: 8px;
  padding: 0.2rem 0.4rem;
  margin: 5px 0 15px;
}

.CommentBtn:hover {
  background-color: #ff9b3d;
  color: #fff;
}

.CommentBtn:disabled {
  background-color: #696969;
  color: #e0e0e0;
  cursor: not-allowed;
}

.ReplyBtn {
  background-color: transparent !important;
  border: none;
  color: #bcad9f !important;
  font-size: .8rem;
  font-weight: 500;
}

.ReplyBtn:hover {
  color: #7e746a !important;
  text-decoration: underline;
}

.ReplyFormBtn {
  background-color: #ff7b00;
  border: none;
  font-weight: 500;
  border-radius: 8px;
  padding: 0.2rem 0.4rem;
  margin: 8px 0 5px 8px;
}

.ReplyFormBtn:hover {
  background-color: #ff9b3d;
}