.ConversationContainer {
  background-color: rgba(23, 23, 23, 0.85);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(255, 122, 0, 0.2);
  color: #ffebd8;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.MessagesWrapper {
  overflow-y: auto;
  max-height: 70vh;
}

.MessagesList {
  background-color: transparent;
  border: none;
  padding: 0;
}

.MessageBubble {
  background-color: #1c1c1c;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 10px 15px;
  color: #ffebd8;
  word-break: break-word;
  max-width: 80%;
}

.MessageInput {
  background-color: #1c1c1c;
  color: #ffebd8;
  border: 1px solid #444;
  border-radius: 20px;
  padding: 0.5rem 1rem;
}

.MessageInput:focus {
  background-color: #1c1c1c;
  color: #fff;
  border-color: #ff7b00;
  box-shadow: 0 0 5px rgba(255, 123, 0, 0.5);
}

.SendButton {
  background: linear-gradient(to right, #00f3fb, #20d787) !important;
  border: none;
  color: #171717 !important;
  font-weight: bold;
  width: 100%;
  border-radius: 20px;
}

.SendButton:hover {
  background: linear-gradient(to bottom, #49f9ff, #44ce92) !important;
  color: #232323 !important;
}

.EmptyState {
  text-align: center;
  margin-top: 2rem;
  color: #aaa;
}
