.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.ModalContent {
  background-color: #171717;
  color: #ffebd8;
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0px 0px 20px rgba(255, 123, 0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.3s ease-out;
}

.ModalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ff7b00;
  padding-bottom: 0.5rem;
}

.ModalBody {
  margin-top: 1rem;
  text-align: center;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
}

.ModalFooter {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.ModalTitle {
  font-size: 1.5rem;
  margin: auto;
}

.CloseButton {
  background: none;
  border: none;
  font-size: 2rem;
  color: #ffebd8;
  cursor: pointer;
}

.CloseButton:hover {
  color: #ff7b00;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.ModalBody::-webkit-scrollbar {
  width: 6px;
}

.ModalBody::-webkit-scrollbar-thumb {
  background-color: #ff7b00;
  border-radius: 3px;
}

.ModalBody::-webkit-scrollbar-track {
  background: transparent;
}
