.NavBar {
  background-color: #171717 !important;
  border-bottom: 1px solid #000000;
}

.Logo {
  height: 75px;
}

.NavLink {
  display: flex !important;
  align-items: center !important;
  padding: 5px;
  transition: 0.2s;
  color: #ea5722 !important;
}

.MenuNavLink {
  display: block !important;
  align-items: center !important;
  padding: 5px;
  transition: 0.2s;
  color: #ea5722 !important;
}

.NavLinkAvatar {
  display: flex !important;
  align-items: center !important;
  padding: 0;
  margin-right: 1.2rem;
  transition: 0.2s;
  background-image: none !important;
}

.NavLinkAvatar:focus,
.NavLinkAvatar:active {
  box-shadow: none !important;
}

.dropdown-toggle::after {
  display: none;
}

.DropdownItem {
  &:hover,
  &:focus,
  &[data-hover="true"] {
    background-color: rgba(255, 226, 182, 0.7) !important;
  }

  &:active,
  &[data-hover="true"]:after {
    background-color: transparent !important;
  }
}

.DropdownDivider {
  border-top: 1px solid #ffb26a;
  width: 100%;
  align-self: center;
}

.Discover {
  display: flex !important;
  align-items: center !important;
  padding: 5px;
  margin-right: 1rem;
  transition: 0.2s;
  font-weight: 900;
  text-transform: uppercase;
  color: #ff7b00 !important;
}

.Discover:hover {
  color: #fff !important;
  transition: 0.2s ease-in-out;
}

.NavLink:hover {
  color: #fff !important;
  transition: 0.2s ease-in-out;
}

.MenuNavLink:hover {
  color: #ea5722 !important;
  transition: 0.2s ease-in-out;
}

.ActiveMenu,
.MenuNavLink:focus {
  color: #ea5722 !important;
  transition: 0.2s ease-in-out;
}

.Active,
.NavLink:focus {
  color: #fff !important;
  transition: 0.2s ease-in-out;
}

.InspyreLink {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  line-height: 1.5;
  font-weight: bold;
  background: linear-gradient(to right, #ff7b00, #88300f) !important;
  color: #fff !important;
  border: none;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.InspyreLink:hover {
  background: linear-gradient(to right, #fff, #fff) !important;
  color: #ff7b00 !important;
  box-shadow: none !important;
  text-shadow: #fff 0px 0px 5px;
  transition: 0.2s ease-in-out;
}

.ActiveBtn,
.InspyreLink:focus {
  background: linear-gradient(to right, #fff, #fff) !important;
  color: #ff7b00 !important;
  box-shadow: none !important;
  text-shadow: #fff 0px 0px 5px;
  transition: 0.2s ease-in-out;
}

.Divider {
  font-size: 22px;
  color: #ffebd8;
}

@media only screen and (max-width: 520px) {

  .NavLink {
    margin-top: 0.5rem;
    margin-right: 1rem !important;
    padding: 0 !important;
    font-size: 0.9rem;
  }

  .InspyreLink {
    padding: 0.25rem 0.5rem !important;
  }

  .Discover {
    margin-top: 0.5rem;
    margin-right: 1rem !important;
    padding: 0 !important;
    font-size: 0.9rem;
  }

  .Logo {
    height: 50px;
  }

  .LogoLink {
    margin-bottom: 1rem !important;
  }
}


@media only screen and (max-width: 440px) {

  .Discover {
    display: none !important;
  }

  .Divider {
    display: none !important;
  }

  .Logo {
    height: 60px;
  }

  .LogoLink {
    margin-bottom: 12px !important;
  }
}

  @media only screen and (max-width: 440px) {
  
    .Logo {
      height: 50px;
    }
}