.Post {
    background-color: black;
}

.PostImage {
    object-fit: contain;
    max-width: 500px;
    max-height: 500px;
    border-radius: 8px;
    margin-top: 1rem;
  }
  
  .MediaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .Tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
  }
  
  .Tag {
    background-color: #efefef;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    font-size: 0.85rem;
  }
  