.Post {
  background-color: #0e0e0e;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 122, 0, 0.2);
  margin-bottom: 1.5rem;
  color: #fff;
}

.PostImage {
  object-fit: contain;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 500px;
  border-radius: 10px;
  margin-top: 1rem;
  box-shadow: 0 0 5px rgba(234, 87, 34, 0.4);
  image-rendering: auto;
}

.ImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 500px;
  overflow: hidden;
}

.MediaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.Tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.Tag {
  background-color: rgba(255, 186, 122, 0.1);
  border: 1px solid #ea5722;
  padding: 0.3rem 0.7rem;
  border-radius: 12px;
  font-size: 0.85rem;
  color: #ff7b00;
  font-weight: 600;
  text-transform: uppercase;
}

.PostBar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  gap: 1.5rem;
  color: #ffebd8;
  font-weight: 500;
}

.Heart {
  color: #ea5722;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.Heart:hover {
  transform: scale(1.2);
  color: #ff7b00;
}

.HeartOutline {
  color: #ffb26a;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.HeartOutline:hover {
  transform: scale(1.2);
  color: #ea5722;
}