@import 'quill/dist/quill.core.css';
@import 'quill/dist/quill.snow.css';

.App {
  font-family: "Montserrat", sans-serif;
  background-image: url('./assets/auth_bg.jpg');
  color: #fff;
  min-height: 100vh;
}

.Main {
  padding-top: 8rem;
}

.Content {
  background-color: #171717;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #000000;
}

.FillerImage {
  object-fit: fill;
  max-width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

* {
  box-sizing: border-box;
}

a {
  color: #fff !important;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
}

input[type="file"] {
  display: none;
}

.BackArrow {
  color: #ea5722;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

figure {
  text-align: center;
  display: inline-block;
}

.InspyredText {
  color: #ff9532;
  font-weight: bold;
}

.avatar {
  position: relative;
  top: -50px;
}

.NoResultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.NoResult {
  height: 100px;
}

.NoResultText {
  width: 50%;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  color: #ffbb7f;
  font-weight: 900;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}