body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Enable Quill alignment classes */
.Post .ql-align-center {
  text-align: center !important;
}
.Post .ql-align-right {
  text-align: right !important;
}
.Post .ql-align-left {
  text-align: left !important;
}